{{#with site.keys.googleAnalytics}}
<script async src="https://www.googletagmanager.com/gtag/js?id={{this}}"></script>
<script>function gtag(){dataLayer.push(arguments)};window.dataLayer=window.dataLayer||[];gtag('js',new Date());gtag('config','{{this}}')</script>
{{/with}}
<script src="{{{uiRootPath}}}/js/vendor/gettext.iife.js" type="text/javascript"></script>
<script src="{{{uiRootPath}}}/js/vendor/i18n-head.js" type="text/javascript"></script>
